.live-edit-hidden {
  display: none;
}

.live-edit-source {
  width: 100%;
  height: 50vh;
  resize: vertical;
  /** make it readable **/
  font-family: var(--md-code-font-family, monospace);
  font-size: .8rem;
  line-height: 1.5;
  color: var(--md-default-fg-color, #333);
  background: var(--md-default-bg-color, #fff);
  border: 1px solid var(--md-default-fg-color--lightest, #ccc);
  border-radius: 3px;
  padding: 5px 10px;
  margin: 5px;
  outline: none;
  /** make it editable **/
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  /* don't break words */
  word-break: keep-all;
  white-space: pre-wrap;
  overflow: auto;
  /** make it pretty **/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

button.live-edit-pencil-button {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: .8rem;
  display: inline;
}

button.live-edit-button {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  padding: 5px 10px;
  margin: 0 5px;
  font-size: .8rem;
  line-height: 1.5;
  color: var(--md-primary-bg-color, #fff);
  outline: none;
  transition: background .2s;
}

button.live-edit-button:hover {
  background: rgba(255, 255, 255, 0.25);
}

button.live-edit-button.align-right {
  float: right;
}

button.live-edit-save-button {
  background: #5cb85c;
  border-color: #4cae4c;
  color: #fff;
}

button.live-edit-save-button:hover {
  background: #4cae4c;
}

button.live-edit-cancel-button {
  background: #d9534f;
  border-color: #d43f3a;
  color: #fff;
}

button.live-edit-cancel-button:hover {
  background: #d43f3a;
}

div.live-edit-controls {
  background: linear-gradient(
    to bottom,
    var(--md-primary-fg-color, #fff2dc),
    var(--md-footer-bg-color, #f0c36d)
  );
  border: 1px solid var(--md-primary-fg-color--dark, #f0c36d);
  color: var(--md-primary-bg-color, inherit);
  border-radius: 3px;
  padding: 5px 10px;
  margin: 10px 0;
  font-size: .8rem;
  line-height: 1.5;
  width: 100%;
}

.live-edit-label {
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  font-size: .8rem;
  color: var(--md-primary-bg-color, inherit);
}

.live-edit-modal {
  cursor: pointer;
  border-radius: 3px;
  padding: 10px;
  font-size: .8rem;
  line-height: 1.5;
  text-align: center;
  /* drop a shadow */
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, .5);
}

.live-edit-modal::backdrop {
  background: rgba(0, 0, 0, 0.378);
}

.live-edit-info-modal {
  background-color: var(--md-default-bg-color--light, #fff2dc);
  border: 1px solid var(--md-default-fg-color--lightest, #f0c36d);
}

.live-edit-error-message-dialog {
  background-color: #ffdcdc;
  border: 1px solid #f06d6d;
}
